body {
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.masterContainerImageAtRight {
    /* top: 50%!important; */
    /* left: 50%!important; */
    /* transform: translate(-50%,-50%)!important; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    /* top: 0; */
    z-index: 99999;
}

@keyframes blurPopup {
    0% {
        filter: blur(0px)
    }
    100% {
        filter: blur(5px);
    }
}

.completed-state .blur {
    /* animation: 1s ease-out 0s 1 blurPopup; */
    animation-name: blurPopup;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* filter: blur(5px); */
}

.completed-state .masterContainerImageAtRight .popup {
    height: 62.22vh;
    width: 70vh;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-position: center center;
    display: flex;
}

.completed-state .masterContainerImageAtRight .popup .bs_overlay {
    border-radius: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.completed-state .masterContainerImageAtRight .popup .bs_overlay .contentContainer {
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.completed-state .masterContainerImageAtRight .popup .bs_overlay .contentContainer .textContainer {
    /* background-color: #10506bff; */
    background-color: aliceblue;
    padding: 28px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
}

.completed-state .masterContainerImageAtRight .popup .bs_overlay .contentContainer .mainImage {
    background-image: url('https://media3.giphy.com/media/QvBoMEcQ7DQXK/giphy.gif?cid=e1bb72ff1hp1wcw8fyxnj7kkxn8rmlib14e13gu9sd6vk8u4&rid=giphy.gif&ct=g');
    height: 100%;
    width: 50%;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    /* background-image: url('https://bitespeed-app.s3.amazonaws.com/assets/wa+optin+image.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.completed-state .masterContainerImageAtRight .popup .bs_overlay .contentContainer .textContainer .title {
    /* width: 100%; */
    height: 42%;
    /* background-color: blueviolet; */
    /* background-color: #10506bff; */
    padding-top: 20px;
    box-sizing: border-box;

    /* color: #ffa500ff; */
    color: #000000;
    font-size: 3.9vh;
    font-family: Roboto;

    /* text-align: left; */
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
}

.completed-state .subtitleFlexbox {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    height: 10%;
    box-sizing: border-box;
}

.completed-state .masterContainerImageAtRight .popup .bs_overlay .contentContainer .textContainer .subtitle {
    width: 85%;
    height: 100%;
    /* background-color: rgb(255, 123, 0); */
    /* padding: 5px; */
    box-sizing: border-box;
    /* color: #ffffffff; */
    color: #000000;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
    /* text-align: left; */
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.completed-state .copyToClipboard {
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ccc;
}

.completed-state .copyToClipboardBtn {
    height: inherit;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.completed-state .copyToClipboardBtn .tooltipText {
    visibility: hidden;
    width: 60px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -36px;
    opacity: 0;
    transition: opacity 0.3s;
}

.completed-state .copyToClipboardBtn .tooltipText::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.completed-state .copyToClipboardBtn:hover .tooltipText {
visibility: visible;
opacity: 1;
}

.completed-state .bs_text {
    height: 20%;
    /* background-color: red; */
    padding: 5px;
    box-sizing: border-box;

    /* color: #ffffffff; */
    color: #000000;
    /* font-size: 1.3000000000000003vh !important; */
    font-size: 13px;
    font-family: Roboto;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.completed-state .copyToClipboardBtn img{
    width: 100%;
}